god-mode-intel-site/make-blueprints/outreach-twilio-sms.json
{
  "name": "God Mode Intel - Twilio SMS Outreach Campaign",
  "flow": [
    {
      "id": 1,
      "module": "google-sheets:watchRows",
      "version": 2,
      "parameters": {
        "spreadsheetId": "{{YOUR_SPREADSHEET_ID}}",
        "sheetId": "Enriched Leads",
        "includeHeaders": "yes",
        "valueRenderOption": "FORMATTED_VALUE",
        "limit": 10
      },
      "mapper": {},
      "metadata": {
        "designer": { "x": 0, "y": 0 },
        "restore": {},
        "parameters": [
          { "name": "spreadsheetId", "type": "text", "label": "Spreadsheet ID" },
          { "name": "sheetId", "type": "text", "label": "Sheet Name" }
        ],
        "expect": [
          { "name": "company_name", "type": "text", "label": "Company Name" },
          { "name": "decision_maker_name", "type": "text", "label": "Decision Maker Name" },
          { "name": "decision_maker_phone", "type": "text", "label": "Decision Maker Phone" },
          { "name": "decision_maker_title", "type": "text", "label": "Decision Maker Title" },
          { "name": "industry", "type": "text", "label": "Industry" },
          { "name": "lead_score", "type": "number", "label": "Lead Score" },
          { "name": "row_number", "type": "number", "label": "Row Number" }
        ]
      }
    },
    {
      "id": 2,
      "module": "builtin:BasicFilter",
      "version": 1,
      "parameters": {},
      "mapper": {
        "conditions": [
          [
            { "a": "{{1.decision_maker_phone}}", "b": "", "o": "text:notequal" },
            { "a": "{{1.lead_score}}", "b": "70", "o": "number:greaterequal" }
          ]
        ]
      },
      "metadata": {
        "designer": { "x": 300, "y": 0 },
        "restore": {},
        "parameters": [],
        "expect": [],
        "notes": "Only send SMS to hot leads (score >= 70) with phone numbers"
      }
    },
    {
      "id": 3,
      "module": "http:ActionSendData",
      "version": 3,
      "parameters": {},
      "mapper": {
        "url": "https://api.apify.com/v2/acts/alizarin_refrigerator-owner~god-mode---marketing-intelligence-mcp/runs?token={{YOUR_APIFY_TOKEN}}",
        "method": "POST",
        "headers": [{ "name": "Content-Type", "value": "application/json" }],
        "qs": [],
        "bodyType": "raw",
        "parseResponse": true,
        "contentType": "application/json",
        "body": "{\"tool\": \"generate_outreach\", \"args\": {\"leadData\": {\"companyName\": \"{{1.company_name}}\", \"contactName\": \"{{1.decision_maker_name}}\", \"contactTitle\": \"{{1.decision_maker_title}}\", \"industry\": \"{{1.industry}}\"}, \"channel\": \"sms\", \"tone\": \"concise\", \"goalType\": \"meeting_request\", \"maxLength\": 160}}"
      },
      "metadata": {
        "designer": { "x": 600, "y": 0 },
        "restore": {},
        "parameters": [],
        "expect": [{ "name": "data", "type": "collection", "spec": [{ "name": "id", "type": "text", "label": "Run ID" }] }]
      }
    },
    {
      "id": 4,
      "module": "builtin:Sleep",
      "version": 1,
      "parameters": {},
      "mapper": { "timeout": 15 },
      "metadata": { "designer": { "x": 900, "y": 0 }, "restore": {}, "parameters": [], "expect": [] }
    },
    {
      "id": 5,
      "module": "http:ActionGetFile",
      "version": 2,
      "parameters": {},
      "mapper": {
        "url": "https://api.apify.com/v2/actor-runs/{{3.data.id}}/dataset/items?token={{YOUR_APIFY_TOKEN}}&format=json",
        "method": "GET",
        "headers": [],
        "qs": []
      },
      "metadata": {
        "designer": { "x": 1200, "y": 0 },
        "restore": {},
        "parameters": [],
        "expect": [{ "name": "data", "type": "array", "label": "Generated Content" }]
      }
    },
    {
      "id": 6,
      "module": "twilio:sendSMS",
      "version": 1,
      "parameters": {
        "accountSid": "{{YOUR_TWILIO_ACCOUNT_SID}}",
        "authToken": "{{YOUR_TWILIO_AUTH_TOKEN}}"
      },
      "mapper": {
        "from": "{{YOUR_TWILIO_PHONE_NUMBER}}",
        "to": "{{1.decision_maker_phone}}",
        "body": "{{5.data[0].result.body}}",
        "statusCallback": "{{YOUR_WEBHOOK_URL}}"
      },
      "metadata": {
        "designer": { "x": 1500, "y": 0 },
        "restore": {},
        "parameters": [
          { "name": "accountSid", "type": "text", "label": "Twilio Account SID" },
          { "name": "authToken", "type": "text", "label": "Twilio Auth Token" }
        ],
        "expect": [
          { "name": "sid", "type": "text", "label": "Message SID" },
          { "name": "status", "type": "text", "label": "Status" }
        ]
      }
    },
    {
      "id": 7,
      "module": "google-sheets:updateRow",
      "version": 2,
      "parameters": {
        "spreadsheetId": "{{YOUR_SPREADSHEET_ID}}",
        "sheetId": "Enriched Leads",
        "includeHeaders": "yes",
        "valueInputOption": "USER_ENTERED"
      },
      "mapper": {
        "row_number": "{{1.row_number}}",
        "values": {
          "sms_status": "{{6.status}}",
          "sms_sent_at": "{{formatDate(now; \"YYYY-MM-DD HH:mm:ss\")}}",
          "sms_sid": "{{6.sid}}"
        }
      },
      "metadata": {
        "designer": { "x": 1800, "y": 0 },
        "restore": {},
        "parameters": [],
        "expect": []
      }
    },
    {
      "id": 8,
      "module": "slack:createMessage",
      "version": 5,
      "parameters": {
        "channel": "{{YOUR_SLACK_CHANNEL}}"
      },
      "mapper": {
        "text": ":iphone: *SMS Outreach Sent via God Mode Intel*\n\n*To:* {{1.decision_maker_name}} ({{1.decision_maker_title}})\n*Company:* {{1.company_name}}\n*Phone:* {{1.decision_maker_phone}}\n*Lead Score:* {{1.lead_score}}/100\n*Status:* {{6.status}}\n*Message SID:* `{{6.sid}}`\n\n*Message Preview:*\n> {{substring(5.data[0].result.body; 0; 100)}}...\n\n_Sent at {{formatDate(now; \"MMM DD, YYYY HH:mm\")}}_"
      },
      "metadata": {
        "designer": { "x": 2100, "y": 0 },
        "restore": {},
        "parameters": [],
        "expect": []
      }
    }
  ],
  "metadata": {
    "version": 1,
    "scenario": {
      "roundtrips": 1,
      "maxErrors": 3,
      "autoCommit": true,
      "autoCommitTriggerLast": true,
      "sequential": false,
      "confidential": false,
      "dataloss": false,
      "dlq": false
    },
    "designer": { "orphans": [] },
    "zone": "us1.make.com",
    "notes": "God Mode Intel - Twilio SMS Outreach Campaign\n\nThis scenario automates personalized SMS outreach:\n1. Watches enriched leads in Google Sheets\n2. Filters for hot leads (score >= 70) with phone numbers\n3. Generates AI concise SMS message via God Mode MCP\n4. Sends via Twilio with delivery tracking\n5. Updates sheet with SMS status\n6. Notifies Slack channel\n\nReplace placeholders:\n- YOUR_SPREADSHEET_ID\n- YOUR_APIFY_TOKEN\n- YOUR_TWILIO_ACCOUNT_SID\n- YOUR_TWILIO_AUTH_TOKEN\n- YOUR_TWILIO_PHONE_NUMBER\n- YOUR_WEBHOOK_URL (for delivery status)\n- YOUR_SLACK_CHANNEL\n\nPart of God Mode Intel Make.com Challenge Submission"
  }
}
