god-mode-intel-site/make-blueprints/outreach-whatsapp-business.json
{
  "name": "God Mode Intel - WhatsApp Business Outreach Campaign",
  "flow": [
    {
      "id": 1,
      "module": "google-sheets:watchRows",
      "version": 2,
      "parameters": {
        "spreadsheetId": "{{YOUR_SPREADSHEET_ID}}",
        "sheetId": "Enriched Leads",
        "includeHeaders": "yes",
        "valueRenderOption": "FORMATTED_VALUE",
        "limit": 10
      },
      "mapper": {},
      "metadata": {
        "designer": { "x": 0, "y": 0 },
        "restore": {},
        "parameters": [
          { "name": "spreadsheetId", "type": "text", "label": "Spreadsheet ID" },
          { "name": "sheetId", "type": "text", "label": "Sheet Name" }
        ],
        "expect": [
          { "name": "company_name", "type": "text", "label": "Company Name" },
          { "name": "decision_maker_name", "type": "text", "label": "Decision Maker Name" },
          { "name": "decision_maker_whatsapp", "type": "text", "label": "WhatsApp Number" },
          { "name": "decision_maker_title", "type": "text", "label": "Decision Maker Title" },
          { "name": "industry", "type": "text", "label": "Industry" },
          { "name": "lead_score", "type": "number", "label": "Lead Score" },
          { "name": "row_number", "type": "number", "label": "Row Number" }
        ]
      }
    },
    {
      "id": 2,
      "module": "builtin:BasicFilter",
      "version": 1,
      "parameters": {},
      "mapper": {
        "conditions": [
          [
            { "a": "{{1.decision_maker_whatsapp}}", "b": "", "o": "text:notequal" },
            { "a": "{{1.lead_score}}", "b": "65", "o": "number:greaterequal" }
          ]
        ]
      },
      "metadata": {
        "designer": { "x": 300, "y": 0 },
        "restore": {},
        "parameters": [],
        "expect": [],
        "notes": "Only send WhatsApp to leads (score >= 65) with WhatsApp numbers"
      }
    },
    {
      "id": 3,
      "module": "http:ActionSendData",
      "version": 3,
      "parameters": {},
      "mapper": {
        "url": "https://api.apify.com/v2/acts/alizarin_refrigerator-owner~god-mode---marketing-intelligence-mcp/runs?token={{YOUR_APIFY_TOKEN}}",
        "method": "POST",
        "headers": [{ "name": "Content-Type", "value": "application/json" }],
        "qs": [],
        "bodyType": "raw",
        "parseResponse": true,
        "contentType": "application/json",
        "body": "{\"tool\": \"generate_outreach\", \"args\": {\"leadData\": {\"companyName\": \"{{1.company_name}}\", \"contactName\": \"{{1.decision_maker_name}}\", \"contactTitle\": \"{{1.decision_maker_title}}\", \"industry\": \"{{1.industry}}\"}, \"channel\": \"whatsapp\", \"tone\": \"conversational\", \"goalType\": \"intro_connection\"}}"
      },
      "metadata": {
        "designer": { "x": 600, "y": 0 },
        "restore": {},
        "parameters": [],
        "expect": [{ "name": "data", "type": "collection", "spec": [{ "name": "id", "type": "text", "label": "Run ID" }] }]
      }
    },
    {
      "id": 4,
      "module": "builtin:Sleep",
      "version": 1,
      "parameters": {},
      "mapper": { "timeout": 15 },
      "metadata": { "designer": { "x": 900, "y": 0 }, "restore": {}, "parameters": [], "expect": [] }
    },
    {
      "id": 5,
      "module": "http:ActionGetFile",
      "version": 2,
      "parameters": {},
      "mapper": {
        "url": "https://api.apify.com/v2/actor-runs/{{3.data.id}}/dataset/items?token={{YOUR_APIFY_TOKEN}}&format=json",
        "method": "GET",
        "headers": [],
        "qs": []
      },
      "metadata": {
        "designer": { "x": 1200, "y": 0 },
        "restore": {},
        "parameters": [],
        "expect": [{ "name": "data", "type": "array", "label": "Generated Content" }]
      }
    },
    {
      "id": 6,
      "module": "whatsapp-business-cloud:sendMessage",
      "version": 1,
      "parameters": {
        "accessToken": "{{YOUR_WHATSAPP_ACCESS_TOKEN}}",
        "phoneNumberId": "{{YOUR_WHATSAPP_PHONE_NUMBER_ID}}"
      },
      "mapper": {
        "to": "{{1.decision_maker_whatsapp}}",
        "type": "text",
        "text": {
          "body": "{{5.data[0].result.body}}",
          "preview_url": true
        }
      },
      "metadata": {
        "designer": { "x": 1500, "y": 0 },
        "restore": {},
        "parameters": [
          { "name": "accessToken", "type": "text", "label": "WhatsApp Access Token" },
          { "name": "phoneNumberId", "type": "text", "label": "Phone Number ID" }
        ],
        "expect": [
          { "name": "messages", "type": "array", "label": "Messages" }
        ]
      }
    },
    {
      "id": 7,
      "module": "google-sheets:updateRow",
      "version": 2,
      "parameters": {
        "spreadsheetId": "{{YOUR_SPREADSHEET_ID}}",
        "sheetId": "Enriched Leads",
        "includeHeaders": "yes",
        "valueInputOption": "USER_ENTERED"
      },
      "mapper": {
        "row_number": "{{1.row_number}}",
        "values": {
          "whatsapp_status": "sent",
          "whatsapp_sent_at": "{{formatDate(now; \"YYYY-MM-DD HH:mm:ss\")}}",
          "whatsapp_message_id": "{{6.messages[0].id}}"
        }
      },
      "metadata": {
        "designer": { "x": 1800, "y": 0 },
        "restore": {},
        "parameters": [],
        "expect": []
      }
    },
    {
      "id": 8,
      "module": "slack:createMessage",
      "version": 5,
      "parameters": {
        "channel": "{{YOUR_SLACK_CHANNEL}}"
      },
      "mapper": {
        "text": ":speech_balloon: *WhatsApp Message Sent via God Mode Intel*\n\n*To:* {{1.decision_maker_name}} ({{1.decision_maker_title}})\n*Company:* {{1.company_name}}\n*WhatsApp:* {{1.decision_maker_whatsapp}}\n*Lead Score:* {{1.lead_score}}/100\n*Message ID:* `{{6.messages[0].id}}`\n\n*Message Preview:*\n> {{substring(5.data[0].result.body; 0; 150)}}...\n\n_Sent at {{formatDate(now; \"MMM DD, YYYY HH:mm\")}}_"
      },
      "metadata": {
        "designer": { "x": 2100, "y": 0 },
        "restore": {},
        "parameters": [],
        "expect": []
      }
    }
  ],
  "metadata": {
    "version": 1,
    "scenario": {
      "roundtrips": 1,
      "maxErrors": 3,
      "autoCommit": true,
      "autoCommitTriggerLast": true,
      "sequential": false,
      "confidential": false,
      "dataloss": false,
      "dlq": false
    },
    "designer": { "orphans": [] },
    "zone": "us1.make.com",
    "notes": "God Mode Intel - WhatsApp Business Outreach Campaign\n\nThis scenario automates personalized WhatsApp outreach:\n1. Watches enriched leads in Google Sheets\n2. Filters for leads (score >= 65) with WhatsApp numbers\n3. Generates AI conversational message via God Mode MCP\n4. Sends via WhatsApp Business Cloud API\n5. Updates sheet with message status\n6. Notifies Slack channel\n\nReplace placeholders:\n- YOUR_SPREADSHEET_ID\n- YOUR_APIFY_TOKEN\n- YOUR_WHATSAPP_ACCESS_TOKEN (from Meta Business)\n- YOUR_WHATSAPP_PHONE_NUMBER_ID\n- YOUR_SLACK_CHANNEL\n\nNote: Requires WhatsApp Business API setup via Meta Business Suite.\nAlternatively use Zapier webhook for easier setup.\n\nPart of God Mode Intel Make.com Challenge Submission"
  }
}
