god-mode-intel-site/make-blueprints/outreach-resend-email.json
{
  "name": "God Mode Intel - Resend Email Outreach Campaign",
  "flow": [
    {
      "id": 1,
      "module": "google-sheets:watchRows",
      "version": 2,
      "parameters": {
        "spreadsheetId": "{{YOUR_SPREADSHEET_ID}}",
        "sheetId": "Enriched Leads",
        "includeHeaders": "yes",
        "valueRenderOption": "FORMATTED_VALUE",
        "limit": 10
      },
      "mapper": {},
      "metadata": {
        "designer": { "x": 0, "y": 0 },
        "restore": {},
        "parameters": [
          { "name": "spreadsheetId", "type": "text", "label": "Spreadsheet ID" },
          { "name": "sheetId", "type": "text", "label": "Sheet Name" }
        ],
        "expect": [
          { "name": "company_name", "type": "text", "label": "Company Name" },
          { "name": "decision_maker_name", "type": "text", "label": "Decision Maker Name" },
          { "name": "decision_maker_email", "type": "text", "label": "Decision Maker Email" },
          { "name": "decision_maker_title", "type": "text", "label": "Decision Maker Title" },
          { "name": "industry", "type": "text", "label": "Industry" },
          { "name": "lead_score", "type": "number", "label": "Lead Score" },
          { "name": "row_number", "type": "number", "label": "Row Number" }
        ]
      }
    },
    {
      "id": 2,
      "module": "builtin:BasicRouter",
      "version": 1,
      "parameters": {},
      "mapper": {
        "routes": [
          {
            "flow": [3, 4, 5],
            "filter": {
              "name": "Hot Leads (Score >= 75)",
              "conditions": [[{ "a": "{{1.lead_score}}", "b": "75", "o": "number:greaterequal" }]]
            }
          },
          {
            "flow": [6, 7, 8],
            "filter": {
              "name": "Warm Leads (Score 50-74)",
              "conditions": [[{ "a": "{{1.lead_score}}", "b": "50", "o": "number:greaterequal" }, { "a": "{{1.lead_score}}", "b": "75", "o": "number:less" }]]
            }
          }
        ]
      },
      "metadata": {
        "designer": { "x": 300, "y": 0 },
        "restore": {},
        "parameters": [],
        "expect": []
      }
    },
    {
      "id": 3,
      "module": "http:ActionSendData",
      "version": 3,
      "parameters": {},
      "mapper": {
        "url": "https://api.apify.com/v2/acts/alizarin_refrigerator-owner~god-mode---marketing-intelligence-mcp/runs?token={{YOUR_APIFY_TOKEN}}",
        "method": "POST",
        "headers": [{ "name": "Content-Type", "value": "application/json" }],
        "qs": [],
        "bodyType": "raw",
        "parseResponse": true,
        "contentType": "application/json",
        "body": "{\"tool\": \"generate_outreach\", \"args\": {\"leadData\": {\"companyName\": \"{{1.company_name}}\", \"contactName\": \"{{1.decision_maker_name}}\", \"contactTitle\": \"{{1.decision_maker_title}}\", \"industry\": \"{{1.industry}}\"}, \"channel\": \"email\", \"tone\": \"professional\", \"goalType\": \"meeting_request\"}}"
      },
      "metadata": {
        "designer": { "x": 600, "y": -150 },
        "restore": {},
        "parameters": [],
        "expect": [{ "name": "data", "type": "collection", "spec": [{ "name": "id", "type": "text", "label": "Run ID" }] }]
      }
    },
    {
      "id": 4,
      "module": "builtin:Sleep",
      "version": 1,
      "parameters": {},
      "mapper": { "timeout": 15 },
      "metadata": { "designer": { "x": 900, "y": -150 }, "restore": {}, "parameters": [], "expect": [] }
    },
    {
      "id": 5,
      "module": "http:ActionGetFile",
      "version": 2,
      "parameters": {},
      "mapper": {
        "url": "https://api.apify.com/v2/actor-runs/{{3.data.id}}/dataset/items?token={{YOUR_APIFY_TOKEN}}&format=json",
        "method": "GET",
        "headers": [],
        "qs": []
      },
      "metadata": {
        "designer": { "x": 1200, "y": -150 },
        "restore": {},
        "parameters": [],
        "expect": [{ "name": "data", "type": "array", "label": "Generated Content" }]
      }
    },
    {
      "id": 9,
      "module": "resend:sendEmail",
      "version": 1,
      "parameters": {
        "apiKey": "{{YOUR_RESEND_API_KEY}}"
      },
      "mapper": {
        "from": "{{YOUR_FROM_EMAIL}}",
        "to": ["{{1.decision_maker_email}}"],
        "subject": "{{5.data[0].result.subject}}",
        "html": "{{5.data[0].result.body}}",
        "replyTo": "{{YOUR_REPLY_TO_EMAIL}}",
        "tags": [
          { "name": "campaign", "value": "god-mode-outreach" },
          { "name": "lead_score", "value": "{{1.lead_score}}" },
          { "name": "company", "value": "{{1.company_name}}" }
        ]
      },
      "metadata": {
        "designer": { "x": 1500, "y": -150 },
        "restore": {},
        "parameters": [{ "name": "apiKey", "type": "text", "label": "Resend API Key" }],
        "expect": [{ "name": "id", "type": "text", "label": "Email ID" }]
      }
    },
    {
      "id": 6,
      "module": "http:ActionSendData",
      "version": 3,
      "parameters": {},
      "mapper": {
        "url": "https://api.apify.com/v2/acts/alizarin_refrigerator-owner~god-mode---marketing-intelligence-mcp/runs?token={{YOUR_APIFY_TOKEN}}",
        "method": "POST",
        "headers": [{ "name": "Content-Type", "value": "application/json" }],
        "qs": [],
        "bodyType": "raw",
        "parseResponse": true,
        "contentType": "application/json",
        "body": "{\"tool\": \"generate_outreach\", \"args\": {\"leadData\": {\"companyName\": \"{{1.company_name}}\", \"contactName\": \"{{1.decision_maker_name}}\", \"contactTitle\": \"{{1.decision_maker_title}}\", \"industry\": \"{{1.industry}}\"}, \"channel\": \"email\", \"tone\": \"friendly\", \"goalType\": \"intro_nurture\"}}"
      },
      "metadata": {
        "designer": { "x": 600, "y": 150 },
        "restore": {},
        "parameters": [],
        "expect": [{ "name": "data", "type": "collection", "spec": [{ "name": "id", "type": "text", "label": "Run ID" }] }]
      }
    },
    {
      "id": 7,
      "module": "builtin:Sleep",
      "version": 1,
      "parameters": {},
      "mapper": { "timeout": 15 },
      "metadata": { "designer": { "x": 900, "y": 150 }, "restore": {}, "parameters": [], "expect": [] }
    },
    {
      "id": 8,
      "module": "http:ActionGetFile",
      "version": 2,
      "parameters": {},
      "mapper": {
        "url": "https://api.apify.com/v2/actor-runs/{{6.data.id}}/dataset/items?token={{YOUR_APIFY_TOKEN}}&format=json",
        "method": "GET",
        "headers": [],
        "qs": []
      },
      "metadata": {
        "designer": { "x": 1200, "y": 150 },
        "restore": {},
        "parameters": [],
        "expect": [{ "name": "data", "type": "array", "label": "Generated Content" }]
      }
    },
    {
      "id": 10,
      "module": "resend:sendEmail",
      "version": 1,
      "parameters": {
        "apiKey": "{{YOUR_RESEND_API_KEY}}"
      },
      "mapper": {
        "from": "{{YOUR_FROM_EMAIL}}",
        "to": ["{{1.decision_maker_email}}"],
        "subject": "{{8.data[0].result.subject}}",
        "html": "{{8.data[0].result.body}}",
        "replyTo": "{{YOUR_REPLY_TO_EMAIL}}",
        "tags": [
          { "name": "campaign", "value": "god-mode-nurture" },
          { "name": "lead_score", "value": "{{1.lead_score}}" },
          { "name": "company", "value": "{{1.company_name}}" }
        ]
      },
      "metadata": {
        "designer": { "x": 1500, "y": 150 },
        "restore": {},
        "parameters": [{ "name": "apiKey", "type": "text", "label": "Resend API Key" }],
        "expect": [{ "name": "id", "type": "text", "label": "Email ID" }]
      }
    },
    {
      "id": 11,
      "module": "google-sheets:updateRow",
      "version": 2,
      "parameters": {
        "spreadsheetId": "{{YOUR_SPREADSHEET_ID}}",
        "sheetId": "Enriched Leads",
        "includeHeaders": "yes",
        "valueInputOption": "USER_ENTERED"
      },
      "mapper": {
        "row_number": "{{1.row_number}}",
        "values": {
          "outreach_status": "sent",
          "outreach_channel": "email",
          "outreach_sent_at": "{{formatDate(now; \"YYYY-MM-DD HH:mm:ss\")}}",
          "email_id": "{{ifempty(9.id; 10.id)}}"
        }
      },
      "metadata": {
        "designer": { "x": 1800, "y": 0 },
        "restore": {},
        "parameters": [],
        "expect": []
      }
    },
    {
      "id": 12,
      "module": "slack:createMessage",
      "version": 5,
      "parameters": {
        "channel": "{{YOUR_SLACK_CHANNEL}}"
      },
      "mapper": {
        "text": ":email: *Outreach Email Sent via God Mode Intel*\n\n*To:* {{1.decision_maker_name}} ({{1.decision_maker_title}})\n*Company:* {{1.company_name}}\n*Lead Score:* {{1.lead_score}}/100\n*Email ID:* `{{ifempty(9.id; 10.id)}}`\n*Campaign:* {{if(1.lead_score >= 75; \"Hot Lead - Meeting Request\"; \"Warm Lead - Nurture\")}}\n\n_Sent at {{formatDate(now; \"MMM DD, YYYY HH:mm\")}}_"
      },
      "metadata": {
        "designer": { "x": 2100, "y": 0 },
        "restore": {},
        "parameters": [],
        "expect": []
      }
    }
  ],
  "metadata": {
    "version": 1,
    "scenario": {
      "roundtrips": 1,
      "maxErrors": 3,
      "autoCommit": true,
      "autoCommitTriggerLast": true,
      "sequential": false,
      "confidential": false,
      "dataloss": false,
      "dlq": false
    },
    "designer": { "orphans": [] },
    "zone": "us1.make.com",
    "notes": "God Mode Intel - Resend Email Outreach Campaign\n\nThis scenario automates personalized email outreach:\n1. Watches enriched leads in Google Sheets\n2. Routes by lead score (Hot >= 75, Warm 50-74)\n3. Generates AI personalized email via God Mode MCP\n4. Sends via Resend with proper tracking tags\n5. Updates sheet with outreach status\n6. Notifies Slack channel\n\nReplace placeholders:\n- YOUR_SPREADSHEET_ID\n- YOUR_APIFY_TOKEN\n- YOUR_RESEND_API_KEY\n- YOUR_FROM_EMAIL\n- YOUR_REPLY_TO_EMAIL\n- YOUR_SLACK_CHANNEL\n\nPart of God Mode Intel Make.com Challenge Submission"
  }
}
