full-prospect-pipeline-supabase-v2.json
{
  "name": "God Mode Intel - Full Prospect Pipeline (Supabase v2)",
  "flow": [
    {
      "id": 1,
      "module": "gateway:CustomWebHook",
      "version": 1,
      "parameters": {},
      "mapper": {},
      "metadata": {
        "designer": {
          "x": 0,
          "y": 0
        },
        "expect": [
          {
            "name": "industry",
            "type": "text",
            "label": "Target Industry"
          },
          {
            "name": "location",
            "type": "text",
            "label": "Target Location"
          }
        ],
        "notes": "Webhook to trigger prospect search"
      }
    },
    {
      "id": 2,
      "module": "http:ActionSendData",
      "version": 3,
      "parameters": {},
      "mapper": {
        "url": "https://api.apify.com/v2/acts/alizarin_refrigerator-owner~god-mode---marketing-intelligence-mcp/runs?token={{YOUR_APIFY_TOKEN}}&waitForFinish=120",
        "method": "POST",
        "headers": [
          {
            "name": "Content-Type",
            "value": "application/json"
          }
        ],
        "bodyType": "raw",
        "parseResponse": true,
        "contentType": "application/json",
        "body": "{\"tool\": \"find_prospects\", \"args\": {\"query\": \"{{1.industry}}\", \"location\": \"{{1.location}}\", \"maxResults\": 10, \"includeEmails\": true, \"includePhones\": true}}"
      },
      "metadata": {
        "designer": {
          "x": 300,
          "y": 0
        },
        "notes": "Step 1: Find prospects using Google Maps"
      }
    },
    {
      "id": 3,
      "module": "http:ActionSendData",
      "version": 3,
      "parameters": {},
      "mapper": {
        "url": "https://api.apify.com/v2/actor-runs/{{2.data.id}}/dataset/items?token={{YOUR_APIFY_TOKEN}}&format=json",
        "method": "GET",
        "headers": [],
        "bodyType": "raw",
        "parseResponse": true,
        "contentType": "application/json",
        "body": ""
      },
      "metadata": {
        "designer": {
          "x": 600,
          "y": 0
        },
        "notes": "Get prospect list results"
      }
    },
    {
      "id": 4,
      "module": "builtin:BasicFeeder",
      "version": 1,
      "parameters": {},
      "mapper": {
        "array": "{{3.data[0].result.prospects}}"
      },
      "metadata": {
        "designer": {
          "x": 900,
          "y": 0
        },
        "notes": "Iterate through each prospect"
      }
    },
    {
      "id": 5,
      "module": "http:ActionSendData",
      "version": 3,
      "parameters": {},
      "mapper": {
        "url": "https://api.apify.com/v2/acts/alizarin_refrigerator-owner~god-mode---marketing-intelligence-mcp/runs?token={{YOUR_APIFY_TOKEN}}&waitForFinish=120",
        "method": "POST",
        "headers": [
          {
            "name": "Content-Type",
            "value": "application/json"
          }
        ],
        "bodyType": "raw",
        "parseResponse": true,
        "contentType": "application/json",
        "body": "{\"tool\": \"enrich_lead\", \"args\": {\"companyName\": \"{{4.name}}\", \"website\": \"{{4.website}}\", \"includeDecisionMakers\": true, \"includeTechStack\": true, \"includeReviews\": true}}"
      },
      "metadata": {
        "designer": {
          "x": 1200,
          "y": 0
        },
        "notes": "Step 2: Enrich each lead"
      }
    },
    {
      "id": 6,
      "module": "http:ActionSendData",
      "version": 3,
      "parameters": {},
      "mapper": {
        "url": "https://api.apify.com/v2/actor-runs/{{5.data.id}}/dataset/items?token={{YOUR_APIFY_TOKEN}}&format=json",
        "method": "GET",
        "headers": [],
        "bodyType": "raw",
        "parseResponse": true,
        "contentType": "application/json",
        "body": ""
      },
      "metadata": {
        "designer": {
          "x": 1500,
          "y": 0
        },
        "notes": "Get enrichment results"
      }
    },
    {
      "id": 7,
      "module": "http:ActionSendData",
      "version": 3,
      "parameters": {},
      "mapper": {
        "url": "https://api.apify.com/v2/acts/alizarin_refrigerator-owner~god-mode---marketing-intelligence-mcp/runs?token={{YOUR_APIFY_TOKEN}}&waitForFinish=60",
        "method": "POST",
        "headers": [
          {
            "name": "Content-Type",
            "value": "application/json"
          }
        ],
        "bodyType": "raw",
        "parseResponse": true,
        "contentType": "application/json",
        "body": "{\"tool\": \"score_and_prioritize\", \"args\": {\"lead\": {{JSON.stringify(6.data[0].result)}}, \"idealCustomerProfile\": {\"industry\": \"{{1.industry}}\", \"minEmployees\": 10}}}"
      },
      "metadata": {
        "designer": {
          "x": 1800,
          "y": 0
        },
        "notes": "Step 3: Score the lead"
      }
    },
    {
      "id": 8,
      "module": "http:ActionSendData",
      "version": 3,
      "parameters": {},
      "mapper": {
        "url": "https://api.apify.com/v2/actor-runs/{{7.data.id}}/dataset/items?token={{YOUR_APIFY_TOKEN}}&format=json",
        "method": "GET",
        "headers": [],
        "bodyType": "raw",
        "parseResponse": true,
        "contentType": "application/json",
        "body": ""
      },
      "metadata": {
        "designer": {
          "x": 2100,
          "y": 0
        },
        "notes": "Get scoring results"
      }
    },
    {
      "id": 9,
      "module": "http:ActionSendData",
      "version": 3,
      "parameters": {},
      "mapper": {
        "url": "{{YOUR_SUPABASE_URL}}/rest/v1/leads",
        "method": "POST",
        "headers": [
          {
            "name": "apikey",
            "value": "{{YOUR_SUPABASE_ANON_KEY}}"
          },
          {
            "name": "Authorization",
            "value": "Bearer sb_publishable_DCnoaJxcOB6pMkOrWFtTjA_XthRh0xH"
          },
          {
            "name": "Content-Type",
            "value": "application/json"
          },
          {
            "name": "Prefer",
            "value": "return=representation"
          }
        ],
        "bodyType": "raw",
        "parseResponse": true,
        "contentType": "application/json",
        "body": "{\"company_name\": \"{{4.name}}\", \"website\": \"{{4.website}}\", \"phone\": \"{{4.phone}}\", \"email\": \"{{6.data[0].result.email}}\", \"industry\": \"{{6.data[0].result.industry}}\", \"employee_count\": {{ifempty(6.data[0].result.employeeCount; 0)}}, \"lead_score\": {{ifempty(8.data[0].result.score; 50)}}, \"status\": \"{{if(8.data[0].result.score >= 70; \"hot\"; \"nurture\")}}\", \"source_industry\": \"{{1.industry}}\", \"source_location\": \"{{1.location}}\"}"
      },
      "metadata": {
        "designer": {
          "x": 2400,
          "y": 0
        },
        "notes": "Insert lead into Supabase"
      }
    },
    {
      "id": 10,
      "module": "builtin:BasicRouter",
      "version": 1,
      "parameters": {},
      "mapper": {
        "routes": [
          {
            "flow": [11, 12],
            "condition": "{{8.data[0].result.score >= 70}}"
          }
        ]
      },
      "metadata": {
        "designer": {
          "x": 2700,
          "y": 0
        },
        "notes": "Only generate outreach for hot leads (score >= 70)"
      }
    },
    {
      "id": 11,
      "module": "http:ActionSendData",
      "version": 3,
      "parameters": {},
      "mapper": {
        "url": "https://api.apify.com/v2/acts/alizarin_refrigerator-owner~god-mode---marketing-intelligence-mcp/runs?token={{YOUR_APIFY_TOKEN}}&waitForFinish=60",
        "method": "POST",
        "headers": [
          {
            "name": "Content-Type",
            "value": "application/json"
          }
        ],
        "bodyType": "raw",
        "parseResponse": true,
        "contentType": "application/json",
        "body": "{\"tool\": \"generate_outreach\", \"args\": {\"lead\": {{JSON.stringify(6.data[0].result)}}, \"tone\": \"professional\", \"includePersonalization\": true, \"channels\": [\"email\", \"linkedin\"]}}"
      },
      "metadata": {
        "designer": {
          "x": 3000,
          "y": -100
        },
        "notes": "Generate outreach for hot leads"
      }
    },
    {
      "id": 12,
      "module": "http:ActionSendData",
      "version": 3,
      "parameters": {},
      "mapper": {
        "url": "{{YOUR_SUPABASE_URL}}/rest/v1/leads?company_name=eq.{{encodeURL(4.name)}}",
        "method": "PATCH",
        "headers": [
          {
            "name": "apikey",
            "value": "{{YOUR_SUPABASE_ANON_KEY}}"
          },
          {
            "name": "Authorization",
            "value": "Bearer sb_publishable_DCnoaJxcOB6pMkOrWFtTjA_XthRh0xH"
          },
          {
            "name": "Content-Type",
            "value": "application/json"
          }
        ],
        "bodyType": "raw",
        "parseResponse": true,
        "contentType": "application/json",
        "body": "{\"email_draft\": \"{{11.data[0].result.emailDraft}}\", \"linkedin_draft\": \"{{11.data[0].result.linkedinDraft}}\"}"
      },
      "metadata": {
        "designer": {
          "x": 3300,
          "y": -100
        },
        "notes": "Update lead with outreach drafts"
      }
    }
  ],
  "metadata": {
    "version": 1,
    "scenario": {
      "roundtrips": 1,
      "maxErrors": 3,
      "autoCommit": true
    },
    "designer": {
      "orphans": []
    },
    "zone": "us1.make.com",
    "notes": "Full Prospect Pipeline with SUPABASE - Fixed Version.\n\nThis version uses only http:ActionSendData modules (no ActionGetFile).\n\nReplace these placeholders:\n- YOUR_APIFY_TOKEN (from Apify Console > Settings > Integrations)\n- YOUR_SUPABASE_URL (e.g. https://xxxxx.supabase.co)\n- YOUR_SUPABASE_ANON_KEY (from Supabase Settings > API)\n\nThe pipeline:\n1. Receives webhook with industry + location\n2. Finds prospects via Google Maps\n3. Enriches each lead\n4. Scores and prioritizes\n5. Stores in Supabase\n6. Generates outreach for hot leads (score >= 70)"
  }
}
