full-prospect-pipeline-supabase-v3.json
{
  "name": "God Mode Intel - Full Prospect Pipeline (Supabase)",
  "flow": [
    {
      "id": 1,
      "module": "gateway:CustomWebHook",
      "version": 1,
      "parameters": {},
      "mapper": {},
      "metadata": {
        "designer": {
          "x": 0,
          "y": 0
        },
        "expect": [
          {
            "name": "industry",
            "type": "text",
            "label": "Target Industry"
          },
          {
            "name": "location",
            "type": "text",
            "label": "Target Location"
          }
        ]
      }
    },
    {
      "id": 2,
      "module": "http:ActionSendDataAsJSON",
      "version": 3,
      "parameters": {},
      "mapper": {
        "url": "https://api.apify.com/v2/acts/alizarin_refrigerator-owner~god-mode---marketing-intelligence-mcp/runs?token={{YOUR_APIFY_TOKEN}}&waitForFinish=120",
        "method": "POST",
        "headers": [],
        "serializeBody": true,
        "body": {
          "tool": "find_prospects",
          "args": {
            "query": "{{1.industry}}",
            "location": "{{1.location}}",
            "maxResults": 10,
            "includeEmails": true,
            "includePhones": true
          }
        }
      },
      "metadata": {
        "designer": {
          "x": 300,
          "y": 0
        }
      }
    },
    {
      "id": 3,
      "module": "http:ActionGetData",
      "version": 2,
      "parameters": {},
      "mapper": {
        "url": "https://api.apify.com/v2/actor-runs/{{2.data.id}}/dataset/items?token={{YOUR_APIFY_TOKEN}}&format=json",
        "method": "GET",
        "headers": []
      },
      "metadata": {
        "designer": {
          "x": 600,
          "y": 0
        }
      }
    },
    {
      "id": 4,
      "module": "builtin:BasicFeeder",
      "version": 1,
      "parameters": {},
      "mapper": {
        "array": "{{3.data[0].result.prospects}}"
      },
      "metadata": {
        "designer": {
          "x": 900,
          "y": 0
        }
      }
    },
    {
      "id": 5,
      "module": "http:ActionSendDataAsJSON",
      "version": 3,
      "parameters": {},
      "mapper": {
        "url": "https://api.apify.com/v2/acts/alizarin_refrigerator-owner~god-mode---marketing-intelligence-mcp/runs?token={{YOUR_APIFY_TOKEN}}&waitForFinish=120",
        "method": "POST",
        "headers": [],
        "serializeBody": true,
        "body": {
          "tool": "enrich_lead",
          "args": {
            "companyName": "{{4.name}}",
            "website": "{{4.website}}",
            "includeDecisionMakers": true,
            "includeTechStack": true,
            "includeReviews": true
          }
        }
      },
      "metadata": {
        "designer": {
          "x": 1200,
          "y": 0
        }
      }
    },
    {
      "id": 6,
      "module": "http:ActionGetData",
      "version": 2,
      "parameters": {},
      "mapper": {
        "url": "https://api.apify.com/v2/actor-runs/{{5.data.id}}/dataset/items?token={{YOUR_APIFY_TOKEN}}&format=json",
        "method": "GET",
        "headers": []
      },
      "metadata": {
        "designer": {
          "x": 1500,
          "y": 0
        }
      }
    },
    {
      "id": 7,
      "module": "http:ActionSendDataAsJSON",
      "version": 3,
      "parameters": {},
      "mapper": {
        "url": "https://api.apify.com/v2/acts/alizarin_refrigerator-owner~god-mode---marketing-intelligence-mcp/runs?token={{YOUR_APIFY_TOKEN}}&waitForFinish=60",
        "method": "POST",
        "headers": [],
        "serializeBody": true,
        "body": {
          "tool": "score_and_prioritize",
          "args": {
            "lead": "{{6.data[0].result}}",
            "idealCustomerProfile": {
              "industry": "{{1.industry}}",
              "minEmployees": 10
            }
          }
        }
      },
      "metadata": {
        "designer": {
          "x": 1800,
          "y": 0
        }
      }
    },
    {
      "id": 8,
      "module": "http:ActionGetData",
      "version": 2,
      "parameters": {},
      "mapper": {
        "url": "https://api.apify.com/v2/actor-runs/{{7.data.id}}/dataset/items?token={{YOUR_APIFY_TOKEN}}&format=json",
        "method": "GET",
        "headers": []
      },
      "metadata": {
        "designer": {
          "x": 2100,
          "y": 0
        }
      }
    },
    {
      "id": 9,
      "module": "http:ActionSendDataAsJSON",
      "version": 3,
      "parameters": {},
      "mapper": {
        "url": "{{YOUR_SUPABASE_URL}}/rest/v1/leads",
        "method": "POST",
        "headers": [
          {
            "name": "apikey",
            "value": "{{YOUR_SUPABASE_ANON_KEY}}"
          },
          {
            "name": "Authorization",
            "value": "Bearer {{YOUR_SUPABASE_ANON_KEY}}"
          },
          {
            "name": "Prefer",
            "value": "return=representation"
          }
        ],
        "serializeBody": true,
        "body": {
          "company_name": "{{4.name}}",
          "website": "{{4.website}}",
          "phone": "{{4.phone}}",
          "email": "{{6.data[0].result.email}}",
          "industry": "{{6.data[0].result.industry}}",
          "employee_count": "{{6.data[0].result.employeeCount}}",
          "lead_score": "{{8.data[0].result.score}}",
          "status": "{{if(8.data[0].result.score >= 70; \"hot\"; \"nurture\")}}",
          "source_industry": "{{1.industry}}",
          "source_location": "{{1.location}}"
        }
      },
      "metadata": {
        "designer": {
          "x": 2400,
          "y": 0
        }
      }
    },
    {
      "id": 10,
      "module": "builtin:BasicRouter",
      "version": 1,
      "parameters": {},
      "mapper": {
        "routes": [
          {
            "flow": [11, 12],
            "condition": "{{8.data[0].result.score >= 70}}"
          }
        ]
      },
      "metadata": {
        "designer": {
          "x": 2700,
          "y": 0
        }
      }
    },
    {
      "id": 11,
      "module": "http:ActionSendDataAsJSON",
      "version": 3,
      "parameters": {},
      "mapper": {
        "url": "https://api.apify.com/v2/acts/alizarin_refrigerator-owner~god-mode---marketing-intelligence-mcp/runs?token={{YOUR_APIFY_TOKEN}}&waitForFinish=60",
        "method": "POST",
        "headers": [],
        "serializeBody": true,
        "body": {
          "tool": "generate_outreach",
          "args": {
            "lead": "{{6.data[0].result}}",
            "tone": "professional",
            "includePersonalization": true,
            "channels": ["email", "linkedin"]
          }
        }
      },
      "metadata": {
        "designer": {
          "x": 3000,
          "y": -100
        }
      }
    },
    {
      "id": 12,
      "module": "http:ActionSendDataAsJSON",
      "version": 3,
      "parameters": {},
      "mapper": {
        "url": "{{YOUR_SUPABASE_URL}}/rest/v1/leads?company_name=eq.{{encodeURL(4.name)}}",
        "method": "PATCH",
        "headers": [
          {
            "name": "apikey",
            "value": "{{YOUR_SUPABASE_ANON_KEY}}"
          },
          {
            "name": "Authorization",
            "value": "Bearer {{YOUR_SUPABASE_ANON_KEY}}"
          }
        ],
        "serializeBody": true,
        "body": {
          "email_draft": "{{11.data[0].result.emailDraft}}",
          "linkedin_draft": "{{11.data[0].result.linkedinDraft}}"
        }
      },
      "metadata": {
        "designer": {
          "x": 3300,
          "y": -100
        }
      }
    }
  ],
  "metadata": {
    "version": 1,
    "scenario": {
      "roundtrips": 1,
      "maxErrors": 3,
      "autoCommit": true,
      "autoCommitTriggerLast": true,
      "sequential": false
    },
    "designer": {
      "orphans": []
    },
    "zone": "us1.make.com"
  }
}
