lead-enrichment-teams.json
{
  "name": "God Mode Intel - Lead Enrichment (Microsoft Teams)",
  "flow": [
    {
      "id": 1,
      "module": "google-sheets:watchRows",
      "version": 2,
      "parameters": {
        "spreadsheetId": "{{YOUR_SPREADSHEET_ID}}",
        "sheetId": "Sheet1",
        "includeHeaders": "yes",
        "limit": 10
      },
      "mapper": {},
      "metadata": {
        "designer": {
          "x": 0,
          "y": 0
        },
        "expect": [
          {
            "name": "company_name",
            "type": "text"
          },
          {
            "name": "website",
            "type": "text"
          },
          {
            "name": "row_number",
            "type": "number"
          }
        ]
      }
    },
    {
      "id": 2,
      "module": "http:ActionSendData",
      "version": 3,
      "parameters": {},
      "mapper": {
        "url": "https://api.apify.com/v2/acts/alizarin_refrigerator-owner~god-mode---marketing-intelligence-mcp/runs?token={{YOUR_APIFY_TOKEN}}&waitForFinish=120",
        "method": "POST",
        "headers": [
          {
            "name": "Content-Type",
            "value": "application/json"
          }
        ],
        "bodyType": "raw",
        "parseResponse": true,
        "contentType": "application/json",
        "body": "{\"tool\": \"research_company\", \"args\": {\"companyUrl\": \"{{1.website}}\", \"includeReviews\": true, \"includeTechStack\": true, \"includeNews\": true}}"
      },
      "metadata": {
        "designer": {
          "x": 300,
          "y": 0
        }
      }
    },
    {
      "id": 3,
      "module": "builtin:Sleep",
      "version": 1,
      "parameters": {},
      "mapper": {
        "timeout": 30
      },
      "metadata": {
        "designer": {
          "x": 600,
          "y": 0
        }
      }
    },
    {
      "id": 4,
      "module": "http:ActionGetFile",
      "version": 2,
      "parameters": {},
      "mapper": {
        "url": "https://api.apify.com/v2/actor-runs/{{2.data.id}}/dataset/items?token={{YOUR_APIFY_TOKEN}}&format=json",
        "method": "GET"
      },
      "metadata": {
        "designer": {
          "x": 900,
          "y": 0
        }
      }
    },
    {
      "id": 5,
      "module": "google-sheets:updateRow",
      "version": 2,
      "parameters": {
        "spreadsheetId": "{{YOUR_SPREADSHEET_ID}}",
        "sheetId": "Sheet1",
        "includeHeaders": "yes"
      },
      "mapper": {
        "row_number": "{{1.row_number}}",
        "values": {
          "industry": "{{4.data[0].result.industry}}",
          "employee_count": "{{4.data[0].result.employeeCount}}",
          "tech_stack": "{{join(4.data[0].result.techStack; \", \")}}",
          "review_score": "{{4.data[0].result.reviewScore}}",
          "enriched_at": "{{formatDate(now; \"YYYY-MM-DD HH:mm:ss\")}}"
        }
      },
      "metadata": {
        "designer": {
          "x": 1200,
          "y": 0
        }
      }
    },
    {
      "id": 6,
      "module": "http:ActionSendData",
      "version": 3,
      "parameters": {},
      "mapper": {
        "url": "{{YOUR_TEAMS_WEBHOOK_URL}}",
        "method": "POST",
        "headers": [
          {
            "name": "Content-Type",
            "value": "application/json"
          }
        ],
        "bodyType": "raw",
        "parseResponse": false,
        "contentType": "application/json",
        "body": "{\"@type\": \"MessageCard\", \"@context\": \"http://schema.org/extensions\", \"themeColor\": \"0076D7\", \"summary\": \"New Lead Enriched: {{1.company_name}}\", \"sections\": [{\"activityTitle\": \"🚀 New Lead Enriched via God Mode Intel\", \"activitySubtitle\": \"{{formatDate(now; \"MMMM D, YYYY h:mm A\")}}\", \"facts\": [{\"name\": \"Company\", \"value\": \"{{1.company_name}}\"}, {\"name\": \"Website\", \"value\": \"{{1.website}}\"}, {\"name\": \"Industry\", \"value\": \"{{4.data[0].result.industry}}\"}, {\"name\": \"Employees\", \"value\": \"{{4.data[0].result.employeeCount}}\"}, {\"name\": \"Tech Stack\", \"value\": \"{{join(4.data[0].result.techStack; \", \")}}\"}, {\"name\": \"Review Score\", \"value\": \"{{4.data[0].result.reviewScore}}/5 ⭐\"}, {\"name\": \"Funding\", \"value\": \"{{4.data[0].result.fundingStage}}\"}], \"markdown\": true}], \"potentialAction\": [{\"@type\": \"OpenUri\", \"name\": \"View Website\", \"targets\": [{\"os\": \"default\", \"uri\": \"{{1.website}}\"}]}]}"
      },
      "metadata": {
        "designer": {
          "x": 1500,
          "y": 0
        },
        "notes": "Send Microsoft Teams Adaptive Card"
      }
    }
  ],
  "metadata": {
    "version": 1,
    "scenario": {
      "roundtrips": 1,
      "maxErrors": 3,
      "autoCommit": true
    },
    "zone": "us1.make.com",
    "notes": "Lead Enrichment with MICROSOFT TEAMS notifications.\n\nTo get Teams webhook URL:\n1. Go to your Teams channel\n2. Click ... → Connectors\n3. Add 'Incoming Webhook'\n4. Configure and copy the webhook URL\n\nReplace:\n- YOUR_SPREADSHEET_ID\n- YOUR_APIFY_TOKEN\n- YOUR_TEAMS_WEBHOOK_URL"
  }
}
